*.aux
*.pdf
*.log
*.gz
*.toc
.DS_Store
*.hi
*.o
*.so
*.exe
.*
actual-*
expected-*
po-*
*.prof*
Tests/unitb.synctex.gz(busy)
bin/
continuous
examples/
include/
lib/
literate-unitb.zip
ocaml/
predicates.hs
python/
run_tests
verify
windows.hs
test_tmp
print.hs
play_ground.hs
nil
literate-unitb.smultronProject
hoffman.hs
dependencies.hs
clean
play_ground
pos.txt
m0.z
1
train_m0.z
Setup.lhs
dist
literate-unitb.lkshs
literate-unitb.lkshw
src/Main.hs
z3.cabal
*.gz(busy)
m.z
train0.z
*.state
playground.hs
*.out
Tests/m0_evt.tex
Tests/m0_m0-enter.tex
Tests/m0_m0-leave.tex
Tests/m1_m0-enter.tex
Tests/m1_m0-leave.tex
Tests/m1_m1-movein.tex
Tests/m1_m1-moveout.tex
Tests/m2.z
Tests/m2_m0-enter.tex
Tests/m2_m0-leave.tex
Tests/m2_m1-movein.tex
Tests/m2_m1-moveout.tex
Tests/m3.z
Tests/m3_m0-enter.tex
Tests/m3_m0-leave.tex
Tests/m3_m1-movein.tex
Tests/m3_m1-moveout.tex
m1.z
m1_evt.tex
m1_m0-enter.tex
m1_m0-leave.tex
m1_m1-movein.tex
m1_m1-moveout.tex
m2.z
m2_evt.tex
m2_m0-enter.tex
m2_m0-leave.tex
m2_m1-movein.tex
m2_m1-moveout.tex
m3.z
m3_m0-enter.tex
m3_m0-leave.tex
m3_m1-movein.tex
m3_m1-moveout.tex
errors.txt
m0_evt.tex
m0_m0-enter.tex
m0_m0-leave.tex
m0_trial.z
source.z
train0_enter.tex
train0_leave.tex
compile
periodic
scheduler
station
GUI/EIFGENs
EIFGENs
*.h
*.py
!setup-cabal.py
*.pyc
*.state'
*.z
train-station.tex.report
pbcopy
*.report
*.dyn_hi
Tests/byzantine/main.tex
Tests/byzantine/main/m0_end.tex
Tests/byzantine/main/m1_end.tex
Tests/byzantine/main/machine_m0.tex
Tests/byzantine/main/machine_m0_co.tex
Tests/byzantine/main/machine_m0_inv.tex
Tests/byzantine/main/machine_m0_prog.tex
Tests/byzantine/main/machine_m0_props.tex
Tests/byzantine/main/machine_m0_saf.tex
Tests/byzantine/main/machine_m0_thm.tex
Tests/byzantine/main/machine_m0_trans.tex
Tests/byzantine/main/machine_m1.tex
Tests/byzantine/main/machine_m1_co.tex
Tests/byzantine/main/machine_m1_inv.tex
Tests/byzantine/main/machine_m1_prog.tex
Tests/byzantine/main/machine_m1_props.tex
Tests/byzantine/main/machine_m1_saf.tex
Tests/byzantine/main/machine_m1_thm.tex
Tests/byzantine/main/machine_m1_trans.tex
cabal.sandbox.config
x86_64-osx-ghc-7.10.3-packages.conf.d/
log*.z3
literate-unitb.sublime-workspace

