*.aux
*.pdf
*.log
*.gz
*.toc
.DS_Store
*.hi
*.o
.*
Tests/unitb.synctex.gz(busy)
bin/
continuous
examples/
include/
lib/
literate-unitb.zip
ocaml/
predicates.hs
python/
run_tests
test
verify
windows.hs
test_tmp.hs
test_tmp
print.hs
play_ground.hs
nil
literate-unitb.smultronProject
hoffman.hs
dependencies.hs
clean
play_ground
pos.txt
m0.z
1
train_m0.z
Setup.lhs
dist
literate-unitb.lkshs
literate-unitb.lkshw
src/Main.hs
z3.cabal
*.gz(busy)
m.z
train0.z
*.state
playground.hs
*.out
